@import 'mixins_and_variables_and_functions';

/* Login Page */
.login-page {
  .container {
    max-width: 960px;
  }

  .g-recaptcha {
    > div {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .new-session-tabs {
    display: flex;
    border-color: transparent;

    .nav-item {
      border-bottom: 1px solid $gray-100;

      .nav-link.active {
        .gl-dark & {
          background-color: var(--gray-100);
        }
      }
    }

    li {
      flex: 1;
      text-align: center;

      a {
        width: 100%;
        font-size: 18px;
      }

      &.active > a {
        cursor: default;
      }
    }
  }

  .devise-errors {
    h2 {
      margin-top: 0;
      font-size: 14px;
      color: $red-700;
    }
  }
}

.html-devise-layout {
  margin: 0;
  padding: 0;
  height: 100%;

  body {
    &.with-system-header {
      padding-top: $system-header-height;
    }

    &.with-system-footer {
      .footer-container {
        padding-bottom: $system-footer-height;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .sm-bg-gray {
    background-color: $gray-10;

    .gl-dark & {
      background-color: var(--gray-100);
    }
  }
}
